html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: $font-main;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: $color-text;
}

label {
    margin-bottom: 0;
}

