/* variables */
// colors
$color-main: #008688;
$color-main-hover: #096e70;
$color-link: #208BFF;
$color-link-hover: #0058B7;
$color-alert-info: #cce7e7;
$color-tag-bg: #E5F2FF;
$color-bg-light-blue: #D8EBFF;
$color-bg-light-blue-hover: #7EBDFF;
$color-alert: #E87F74;
$color-alert-hover: #CF5143;
$color-alert-bg: #FAE5E3;
$color-active: #FF9900;
$color-complete: #28A745;
$color-bg-dark: #003063;
$color-bg: #F9FBFC;
$color-white: #FFFFFF;
$color-text: #111111;
$color-text-light: #4B4B4B;
$color-text-brown: #797979;
$color-text-blue: #014185;
$color-labels: #B9B9B9;
$color-divider: #E4E4E4;
$color-disabled-bg: #E8E8E8;
$color-bg-dark-grey: #F6F8FA;
$color-bg-gradient-light: #011640;
$color-bg-gradient-medium: #002750;
$color-bg-gradient-dark: #0054AD;
$color-label-gray: #678d9b;
$color-label-orange: #f25c05;
$color-link-dark: #014084;

// text
$font-main: 'Oxygen', sans-serif;

// animation
$hover-transition-time: 300ms;
